# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/
.Debug/
.Release/
.vs/sc/FileContentIndex/ce6bde9e-f7fe-4e50-85a8-f1e7f1353cb1.vsidx
.vs/sc/v17/.suo
.vs/sc/FileContentIndex/read.lock
.vs/sc/v17/Preview/Browse.VC.db
.vs/sc/v17/Preview/ipch/AutoPCH/1ccf15d0c05f8630/MEMORY.ipch
.vs/sc/v17/Preview/ipch/AutoPCH/d589542d89a05642/DX-HOOK.ipch
.vs/sc/v17/Preview/ipch/AutoPCH/e58a670c871497d6/DISKIO.ipch
.vs/sc/v17/Preview/ipch/AutoPCH/edbcc484c2584a84/MAIN.ipch
Debug/x64/Temp/CLibrary.log
Debug/x64/Temp/CLibrary.tlog/CL.command.1.tlog
Debug/x64/Temp/CLibrary.tlog/CLibrary.lastbuildstate
Debug/x64/Temp/CLibrary.tlog/unsuccessfulbuild
Release/x64/CLibrary.pdb
Release/x64/Temp/CLibrary.dll.recipe
Release/x64/Temp/CLibrary.iobj
Release/x64/Temp/CLibrary.ipdb
Release/x64/Temp/CLibrary.log
Release/x64/Temp/CLibrary.tlog/bscmake.command.1.tlog
Release/x64/Temp/CLibrary.tlog/bscmake.read.1.tlog
Release/x64/Temp/CLibrary.tlog/bscmake.write.1.tlog
Release/x64/Temp/CLibrary.tlog/CL.command.1.tlog
Release/x64/Temp/CLibrary.tlog/CL.read.1.tlog
Release/x64/Temp/CLibrary.tlog/CL.write.1.tlog
Release/x64/Temp/CLibrary.tlog/CLibrary.lastbuildstate
Release/x64/Temp/CLibrary.tlog/link.command.1.tlog
Release/x64/Temp/CLibrary.tlog/link.read.1.tlog
Release/x64/Temp/CLibrary.tlog/link.write.1.tlog
Release/x64/Temp/CLibrary.tlog/unsuccessfulbuild
Release/x64/Temp/DiskIO.sbr
Release/x64/Temp/dx-hook.sbr
Release/x64/Temp/Font.sbr
Release/x64/Temp/imgui.sbr
Release/x64/Temp/imgui_demo.sbr
Release/x64/Temp/imgui_draw.sbr
Release/x64/Temp/imgui_impl_dx10.sbr
Release/x64/Temp/imgui_impl_dx11.sbr
Release/x64/Temp/imgui_impl_dx12.sbr
Release/x64/Temp/imgui_impl_dx9.sbr
Release/x64/Temp/imgui_impl_win32.sbr
Release/x64/Temp/imgui_stdlib.sbr
Release/x64/Temp/imgui_tables.sbr
Release/x64/Temp/imgui_widgets.sbr
Release/x64/Temp/imnodes.sbr
Release/x64/Temp/implot.sbr
Release/x64/Temp/implot_demo.sbr
Release/x64/Temp/implot_items.sbr
Release/x64/Temp/Log.sbr
Release/x64/Temp/main.sbr
Release/x64/Temp/Memory.sbr
Release/x64/Temp/Process.sbr
Release/x64/Temp/Text.sbr
Release/x64/Temp/Time.sbr
Release/x64/Temp/vc143.pdb
/Release/x86/Temp
Release/x86/CLibrary.pdb
